#content .row:first-child{
    max-width: none;
}

.entity-occurrence{
    cursor: pointer !important;
}

.segment.odd{
    padding: 10px;
}
.segment.even{
    padding: 10px;
    background-color: rgba(0, 0, 0, .08);
}

svg{
    position: absolute;
    z-index: -10;
}

.button,
.button:active{
    background: #008cba !important;
    color: #fff !important;
    padding: 10px !important;
}

.toolbox{

}
.toolbox ul{
    margin: 0;
}

.toolbox ul li{
    list-style: none;
}
.toolbox ul li input{
    margin: 0;
}

.wrapper{
}

.f-dropdown{
    z-index: 250 !important;
}

.f-dropdown li{
    list-style: none;
}

.arrow{
    stroke-width: 1.75px;
    fill: none; 
}

.arrow_YE{ stroke: #0f0; }
.arrow-point-YE{ fill: #0f0; }
.toolbox-option-YE{ border-bottom: 2px solid #0f0; }

.arrow_NO{ stroke: #f00; }
.arrow-point-NO{ fill: #f00; }
.toolbox-option-NO{ border-bottom: 2px solid #f00; }

.arrow_DK{ stroke: #fa0; }
.arrow-point-DK{ fill: #fa0; }
.toolbox-option-DK{ border-bottom: 2px solid #fa0; }

.arrow_SK{ stroke: #00f; }
.arrow-point-SK{ fill: #00f; }
.toolbox-option-SK{ border-bottom: 2px solid #00f; }

.arrow_NS{ stroke: #f0f; }
.arrow-point-NS{ fill: #f0f; }
.toolbox-option-NS{ border-bottom: 2px solid #f0f; }
