.title{
    font-size: 30px;
    width: 100%;
    border-bottom: 4px solid #E1EBF0;
    margin-bottom: 25px;
    line-height: 20px;
}

.section{
    margin-bottom: 20px;
}

.section .title{
    font-size: 20px;
}

.relations-to-tag .content a{
    font-size: 16px;
}

.new-relation{
    margin-top: 10px;
}
