.segment{
    line-height: 40px;
}

.rich-token{
    position: relative;
}

.rich-token .token{
    font-size: 20px;
}

.rich-token .pos-tag{
    position: absolute;
    color: #BDBDBD;
    font-size: 10px;
    top: -25px;
    left: 35%;
}

.rich-token:hover .pos-tag{
    color: #666;
}

.rich-token .multiple-marker{
    position: absolute;
    top: -20px;
    right: 3px;
    font-size: 10px;
    color: #691FD8;
}

.entity-occurrence{
    font-weight: bold;
    border-bottom: 2px dashed #bbb;
    padding: 4px;
    cursor: help;
    -webkit-transition: background .5s; /* For Safari 3.1 to 6.0 */
    transition: background .5s;
    z-index: 200;
    border-radius: 10px;
}

.entity-occurrence.selected{
    border-bottom: 3px solid #666 !important;
}

.entity-occurrence.highlight{
    color: #f00;
}

.rich-token.entity-occurrence.selectable,
.rich-token.entity-occurrence:hover{
    background: rgba(255, 182, 0, 0.17);
}
