.title{
    font-size: 24px;
    width: 100%;
    border-bottom: 4px solid #E1EBF0;
    margin-bottom: 25px;
    line-height: 20px;
}

.description{
    padding: 0;
    font-size: 15px;
}

.button,
.button:active{
    background: #008cba;
    color: #fff !important;
}

.navigation {
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #E1EBF0;
}

.previous-judgement .value, .previous-judgement .judge {
    font-style: italic;
    font-weight: bold;
}

.question-form-wrapper ul{
    margin: 0 0 15px 0;
    padding: 0;
}
.question-form-wrapper ul li{
    list-style: none;
    height: 25px;
}

.question-form-wrapper ul li input{
    margin: 0;
}

.context-menu-holder{
    width: 1px;
    height: 10px;
    background: transparent;
    position: absolute;
    top: 20px;
    z-index: -1024;
}
