# -*- coding: utf-8 -*-

RELATION = "CAUSES"
from refo import Question, Star, Any
from iepy.extraction.rules_core import rule, Token


@rule(priority=1)
def rule_1(Subject, Object):
    anything = Question(Star(Any()))
    return anything + Subject + Token("causes") + Object + anything


@rule()
def rule_2(Subject, Object):
    anything = Question(Star(Any()))
    return anything + Subject + anything + Object + anything


def this_is_not_a_rule(x):
    return x + 2
